@import './_variables'

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    margin: 0 20px 0 10px
    font-size: 1.3rem
    .logo
        display: flex
        justify-content: flex-start
        width: 100%
        .logoIcon
            width: 80px
            height: 80px
            position: relative
            margin-right: 20px
            img
                position: absolute
                width: 100%
                height: 100%
                z-index: 1
                top: -10%
                right: -8%
            div
                position: relative
                width: 115%
                height: 115%
                border-radius: 100%
                z-index: 0
    .themeHandler
        display: flex
        flex-direction: column
        justify-content: center
        width: 10%
        position: relative
        div
            width: fit-content
        .themeContainer
            height: 80px
            position: absolute
            top: 100%
            right: -5%
            border-radius: 10px
            padding: 0 5px
            .backgroundSpecial
                display: flex
                gap: 15px
                justify-content: center
                width: 100%
                height: 100%
                position: relative
                overflow: hidden
                z-index: 0
                &::before
                    content: ''
                    position: absolute
                    width: 130%
                    height: 165%
                    z-index: -1
                    background-image: url(#{$iconTheme})
                    background-repeat: space
                    background-size: 10%
                    transform: rotate(25deg)
                    opacity: 0.5
            button
                width: 20%
                height: 70%
                align-self: center
                justify-self: center
                border-radius: 50%
                background: none
                border: none
                &:active
                    border: 1.5px solid white
        .hiddenThemeContainer
            display: none
