@import './_variables'

.header
    display: flex
    width: 100%
    height: 12vh
    align-items: center
    justify-content: space-between
    padding: 10px
    font-size: 1.3rem
    .logo
        display: flex
        justify-content: flex-start
        position: relative
        width: 100%
        .logoIcon
            width: 80px
            height: 80px
            position: relative
            svg
                position: absolute
                width: 120%
                height: 115%
                z-index: 1
                top: -30%
                right: -30%
            div
                position: relative
                top: -10%
                right: -5%
                width: 130%
                height: 120%
                border-radius: 100%
                z-index: 0
        h1
            position: absolute
            bottom: -20%
            margin: 0
    .themeHandler
        display: flex
        flex-direction: column
        justify-content: center
        width: 10%
        position: relative
        div
            width: fit-content
        .themeContainer
            height: 80px
            position: absolute
            top: 100%
            right: -5%
            border-radius: 10px
            padding: 0 5px
            z-index: 1
            .backgroundSpecial
                display: flex
                gap: 15px
                justify-content: center
                width: 100%
                height: 100%
                position: relative
                overflow: hidden
                z-index: 1
            button
                width: 20%
                height: 70%
                align-self: center
                justify-self: center
                border-radius: 50%
                background: none
                border: none
                &:active
                    border: 1.5px solid white
        .hiddenThemeContainer
            display: none
