@import './_variables'

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    margin: 0 20px 0 10px
    font-family: $font-family-primary, sans-serif
    font-size: 1.3rem
    .logo
        display: flex
        justify-content: flex-start
        width: 20%
        .logoIcon
            width: 80px
            height: 80px
            position: relative
            margin-right: 20px
            img
                position: absolute
                width: 100%
                height: 100%
                z-index: 1
                top: -10%
                right: -8%
            div
                position: relative
                width: 115%
                height: 115%
                border-radius: 100%
                z-index: 0
    .themeHandler
        display: flex
        flex-direction: column
        justify-content: center
        width: 20%
        position: relative
        div
            width: fit-content
        .changeThemeContainer
            display: flex
            justify-content: center
            align-content: center
            gap: 10px
            width: 150px
            height: 80px
            position: absolute
            top: 90%
            left: -10%
            border-radius: 10px
            button
                width: 40%
                height: 40%
                border-radius: 15px
                background: none
        .hiddenThemeContainer
            display: none
