@import './_variables'

.main
    .lists
        display: flex
        gap: 5px
    .list
        min-width: 10vw
        width: 20vw
        min-height: 10vh
        height: fit-content
        padding: 28px
        border-radius: 30px
        .todoHeader
            display: flex
            justify-content: space-between
            font-family: $font-family-secundary-bold, sans-serif
            label
                font-size: 1.3rem
                width: 60%
            input
                font-size: 1.3rem
                font-family: $font-family-secundary-bold, sans-serif
                width: 60%
                background: none
                border: none
            svg
                width: 10%
                height: 50%
            button
                width: 20%
                height: 15%
                background: none
                border: none
                border-radius: 30px
                box-shadow: $primary 0.5px 0 4px
                font-size: 1rem
                font-family: $font-family-secundary-regular, sans-serif
    .listTodos
        padding: 15px
        border-radius: 30px
        margin-top: 20px
        li
            display: flex
            align-items: center
            gap: 10px
            font-family: $font-family-secundary-regular, sans-serif
        input
            background: none
            border: none
            margin-top: 5px
            &::placeholder
                font-size: 1.3rem
                font-family: $font-family-secundary-regular
            &:focus
                outline: none
