@import './_variables'

.item
    width: 30px
    height: 30px
    background-color: white
.itemChecked
    border: 1px solid $colorCheck
    position: relative
    background-color: $colorCheck
    &::before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        top: 0
        right: 0
        background: url(#{$todo-checked}) no-repeat
        background-size: cover
        background-position: center
.todosNull
    font-size: 1.2rem
.todosNullHidden
    display: none